<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="inner">
    <div class="board_container">
      <div class="board_header">
        <h1>글 수정하기</h1>
      </div>
      <form action="/board/modify/<%= selectedPost._id %>" method="POST" class="board_form" enctype="multipart/form-data">
        <div class="form_title">
          <h3>제목</h3>
          <input type="text" name="title" value="<%= selectedPost.TITLE%>" required />
        </div>
        <div class="form_content">
          <h3>내용</h3>
          <textarea name="content" id="content" cols="30" rows="10" required><%= selectedPost.CONTENT %></textarea>
        </div>
        <div class="form-img">
          <% if ( selectedPost.IMAGE !== null && selectedPost.IMAGE !== undefined) {%>
            <p>기존 이미지</p>
            <img src="/uploads/<%= selectedPost.IMAGE %>" width="500" />
          <% } %>
          <h3>이미지 업로드</h3>
          <input type="file" name="img"/>
        </div>
        <button type="submit" class="btn">글 수정하기</button>
      </form>
    </div>
  </div>
</body>
</html>