<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="inner">
    <h1 class="title">0l0jjo's Express Service</h1>
    <div class="menu">
      <h2><a href="/board">게시판 서비스 바로가기</a></h2>
    </div>
    <a href="/cookie/cook">쿠키 굽기</a>
  </div>
  <script>
    // console.log(document.cookie);
    // document.cookie = "user=0l0jjo; expires=22 Mar 2023 13:00:00 GMT; path=/";
    // document.cookie = "test=test; expires=22 Mar 2023 13:00:00 GMT; path=/";
    // console.log(document.cookie);
  </script>
</body>
</html>